.title{
    display: flex;
    justify-content: center;
    background-color: red;
    text-align: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main_button{
display: flex;
justify-content: center;
align-self: center;
background-color: yellow;
width: 15em;
height: 3em;
text-align: center;
}

body{
    background-color: green;
}