body{
  background-color: darkgray;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}
.kontener {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 3;
  height: 100vh;

}

#beer_name{
    color: white;
    text-align: center;
}

.headline{
  margin: 5px;
  height: 35px;
  display: flex;
}

.btn{
  align-self: center;
}

#logged_user{
  flex-grow: 1;
  text-align: center;
}

.mid{
  display: flex;
  flex-direction: row;
}

.bot{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#scanning-btn{
  height: 100px;
  width: 200px;

}

.center_text{
  text-align: center;
}

#myimg{
  width: 100px;
  height: 300px;
}

.info{
  display: flex;
  flex-direction: row;
}

.opis{
  display: flex;
  flex-direction: column;
}

.wyjustowany{
  text-align: justify;
}

.ikonki{
  flex-grow: 2;
  display: flex;
}


hr {
  color: white;
  background: grey;
  width: 90%;
  height: 0.01px;
  }

  .ikonka{
    width: 20px;
    height: 20px;
    padding-right: 4px;
  }
  .ikonka_ekstakt{
    width: 15px;
    height: 20px;
  }
  .ikonka_tekst{
    height: 15px;
    width: 70px;
    font-size: 12px;
  }

  .preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	
  }

  #pre{
    
  }